/*
 * Theme Color
 * ├─ Base       — Slate
 * ├─ Primary    — Sky
 * ├─ Secondary  — Lime
 * └─ Link       — Indigo
 */

:root {
  --r-base-bg: var(--c-slate-bg);
  --r-base-bg-subtle: var(--c-slate-bg-subtle);
  --r-base-bg-muted: var(--c-slate-bg-muted);
  --r-base-bg-selected: var(--c-slate-bg-selected);
  --r-base-bg-solid: var(--c-slate-bg-solid);
  --r-base-border-subtle: var(--c-slate-border-subtle);
  --r-base-border-muted: var(--c-slate-border-muted);
  --r-base-border-selected: var(--c-slate-border-selected);
  --r-base-border-solid: var(--c-slate-border-solid);
  --r-base-fg-strong: var(--c-slate-fg-strong);
  --r-base-fg: var(--c-slate-fg);
  --r-base-fg-muted: var(--c-slate-fg-muted);
  --r-base-fg-subtle: var(--c-slate-fg-subtle);
  --r-base-fg-contrast: var(--c-slate-fg-contrast);
  --r-base-focus-ring: var(--c-slate-focus-ring);

  --r-primary-bg: var(--c-sky-bg);
  --r-primary-bg-subtle: var(--c-sky-bg-subtle);
  --r-primary-bg-muted: var(--c-sky-bg-muted);
  --r-primary-bg-selected: var(--c-sky-bg-selected);
  --r-primary-bg-solid: var(--c-sky-bg-solid);
  --r-primary-border-subtle: var(--c-sky-border-subtle);
  --r-primary-border-muted: var(--c-sky-border-muted);
  --r-primary-border-selected: var(--c-sky-border-selected);
  --r-primary-border-solid: var(--c-sky-border-solid);
  --r-primary-fg-strong: var(--c-sky-fg-strong);
  --r-primary-fg: var(--c-sky-fg);
  --r-primary-fg-muted: var(--c-sky-fg-muted);
  --r-primary-fg-subtle: var(--c-sky-fg-subtle);
  --r-primary-fg-contrast: var(--c-sky-fg-contrast);
  --r-primary-focus-ring: var(--c-sky-focus-ring);

  --r-secondary-bg: var(--c-lime-bg);
  --r-secondary-bg-subtle: var(--c-lime-bg-subtle);
  --r-secondary-bg-muted: var(--c-lime-bg-muted);
  --r-secondary-bg-selected: var(--c-lime-bg-selected);
  --r-secondary-bg-solid: var(--c-lime-bg-solid);
  --r-secondary-border-subtle: var(--c-lime-border-subtle);
  --r-secondary-border-muted: var(--c-lime-border-muted);
  --r-secondary-border-selected: var(--c-lime-border-selected);
  --r-secondary-border-solid: var(--c-lime-border-solid);
  --r-secondary-fg-strong: var(--c-lime-fg-strong);
  --r-secondary-fg: var(--c-lime-fg);
  --r-secondary-fg-muted: var(--c-lime-fg-muted);
  --r-secondary-fg-subtle: var(--c-lime-fg-subtle);
  --r-secondary-fg-contrast: var(--c-lime-fg-contrast);
  --r-secondary-focus-ring: var(--c-lime-focus-ring);

  --r-link-fg: var(--c-indigo-fg-muted);
  --r-link-fg-strong: var(--c-indigo-fg);
}
