{
  "semi": true,
  "singleQuote": true,
  "bracketSpacing": true,
  "arrowParens": "always",
  "plugins": [
    "@ianvs/prettier-plugin-sort-imports",
    "prettier-plugin-tailwindcss"
  ],
  "importOrder": [
    "<BUILTIN_MODULES>",
    "^(react/(.*)$)|^(react$)",
    "^(react-dom/(.*)$)|^(react-dom$)",
    "<THIRD_PARTY_MODULES>",
    "^@kazamitte/(.*)$",
    "^[./]"
  ],
  "importOrderTypeScriptVersion": "5.0.0",
  "tailwindStylesheet": "./packages/react/src/__tests__/setup/browser.css",
  "tailwindFunctions": ["tv"],
  "overrides": [
    {
      "files": ["*.json", "*.jsonc", "*.json5"],
      "options": {
        "trailingComma": "none"
      }
    }
  ]
}
